moviepy
diffusers
torch
torchaudio
transformers
accelerate
google-api-python-client
google-auth
google-auth-oauthlib
google-generativeai
google-cloud-texttospeech
soundfile
aiohttp
tqdm
replicate
opencv-python
scipy
numpy
silero-stress
groq
python-dotenv
Pillow
